* {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
}

body {
  color: black;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.375em;
  min-height: 100vh;
}


.pageWrapper {
  padding: 3em;
  display: grid;
  grid-template-columns: 25ch 1fr;
}

header {
  /* border: 1px solid green; */
  margin-bottom: 0px; /* 3em; */
}

.mainContent {
  max-width: 60ch;
  margin: 0px auto 0px 0px;
  /* border: 1px solid red; */
}


nav ul li {
  display: block; /* inline-block; */
  margin-right: 0px; /* 1em; */
}

nav ul li a {
  font-size: 1em;
}

/* ************************************************************************ */
/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.05em;
  margin-bottom: 1em;
  /* word-break: break-all; */
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

p {
  font-size: 1em;
  margin: 0px 0px 1.5em 0px;
}


/* ************************************************************************ */
/* MENU */

