* {
  margin: 0px;
  padding: 0px;
  font: inherit;
}


body {
  color: black;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  line-height: 1.375em;
  min-height: 100vh;
}


.pageWrapper {
  padding: 3em;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

header {
  /* border: 1px solid green; */
  margin-bottom: 3em;
}

.mainContent {
  max-width: 60ch;
  margin: 0px auto;
  /* border: 1px solid red; */
}


nav ul li {
  display: inline-block;
  margin-right: 1em;
}

/* ************************************************************************ */
/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.05em;
  margin-bottom: 1em;
  /* word-break: break-all; */
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

p {
  margin: 0px 0px 1.5em 0px;
}


/* ************************************************************************ */
/* MENU */

