*, *:after, *:before {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


body {
  color: black;
  padding: 0px;
  margin: 0px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 1.35em;
}


.pageWrapper {
  padding: 3em;
  display: grid;
  grid-template-columns: 1fr;
  scrollbar-gutter: stable;
}

header {
  /* border: 1px solid green; */
  margin-bottom: 3em;
}

.mainContent {
  margin: 0px 0px 0px 0px;
  /* border: 1px solid red; */
}

.txtColumn {
  max-width: 60ch;
}


nav ul li {
  display: inline-block;
  margin-right: 1em;
}

/* ************************************************************************ */
/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.05em;
  margin-bottom: 1em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

p {
  margin: 0px 0px 1.5em 0px;
}

a {
  color: tomato;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


/* ************************************************************************ */
/* MENU */

header nav a {
  display: block;
  width: max-content;
  margin: 0px;
}

